@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@1,200&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.bar {
  background-color: #fff;
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.button {
  width: 130px;
  height: 35px;
  background-color: #fff;
  border: 1px solid black;
  font-family: 'Josefin Sans';
  font-weight: bolder;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  #hero {
    background-image: url('./src/assets/image-hero.jpg');
    height: 100vh;
    width: 100%;
  }

  .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: 1.8rem;
    padding-top: 1.8rem;
  }

  .hero {
    color: #fff;
    font-size: 26px;
    padding-inline: 1.8rem;
    margin-top: 15rem;
    line-height: 44px;
    font-family: 'Josefin Sans';
    border: 2px solid #fff;
    margin-inline: 2rem;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
  }
  
  .mid-sec {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .vr-container {
    width: 80%;
    margin-top: 4rem;
    margin-inline: 2rem;
  }

  .mid-sec-header {
    font-family: 'Josefin Sans';
    margin-inline: 2.4rem;
    text-align: center;
    margin-top: 3rem;
    font-size: 22px;
    line-height: 32px;
  }

  .mid-sec-paragraph {
    color: gray;
    text-align: center;
    font-family: 'Alata', sans-serif;
    margin-top: 1.4rem;
    margin-inline: 2.4rem;
  }

  h3 {
    text-align: center;
    font-family: 'Josefin Sans';
    font-size: 24px;
    margin-top: 3.8rem;
  }

  .card {
    margin-top: 1rem;
    border-radius: 20px;
    margin-inline: 2.2rem;
    position: relative;
  }

  .card h4 {
    position: absolute;
    font-family: 'Josefin Sans';
    color: rgb(241, 229, 229);
    margin-top: -3.6rem;
    padding-left: 1rem;
    width: 100px;
  }

  .image-grid-button {
    text-align: center;
    margin-top: 2rem;
  }

  .mobile-footer {
    background-color: black;
    color: #fff;
    margin-top: 3.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-logo {
    margin-top: 3rem;
  }

  .footer-links {
    list-style: none;
    font-family: 'Alata', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 18px;
    text-align: center;
    margin-top: 2.2rem;
  }

  .social-icons {
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
    margin-top: 2rem;
  }

  h5 {
    color: gray;
    text-align: center;
  }

}

@media only screen and (min-width: 768px) {

}